<!-- <h1 mat-dialog-title>{{ postData.title }}</h1> -->
<!-- <input type="text" mat-dialog-title [placeholder]="postData.title" />
<div mat-dialog-content></div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="closeMessage">Close</button>
</div> -->

<mat-card>
  <div>
    <textarea [placeholder]="postData.title" #placeholder></textarea>
  </div>
  <div *ngIf="selectedImage" id="post-preview">
    <img src="" alt="" id="post-preview-image" />
  </div>
  <h1 mat-dialog-title *ngIf="!isPostValid" class="valid">
    Type something to create a post
  </h1>
  <mat-card-actions align="end">
    <button mat-button color="warn">
      <label for="photo-upload">
        <input
          id="photo-upload"
          type="file"
          accept="image/*"
          #photoSelector
          (change)="onPhotoSelected(photoSelector)"
        />
        <mat-icon>insert_photo</mat-icon>
      </label>
    </button>
    <!-- <button mat-raised-button [mat-dialog-close]="closeMessage">Close</button> -->
    <button mat-flat-button color="warn" (click)="createPost()">Create</button>
  </mat-card-actions>
</mat-card>
