<div class="post">
  <div class="info">
    <div class="user">
      <img
        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt=""
      />
      <p>danyal_khan_</p>
    </div>
    <i class="fas fa-trash"></i>
  </div>

  <img
    class="post-image"
    src="https://images.unsplash.com/photo-1613323593608-abc90fec84ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60"
    alt=""
  />
  <div class="items">
    <div class="item-start">
      <i class="far fa-heart"></i>
      <i class="far fa-comment"></i>
      <i class="far fa-paper-plane"></i>
    </div>
    <i class="far fa-bookmark"></i>
  </div>
  <p class="likes">6,276 likes</p>
  <div class="description-wrapper">
    <span class="username">danyal_khan_</span>
    <span class="description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt esse ea
      omnis eveniet doloribus, labore, harum commodi ducimus soluta cupiditate
      consequuntur fugit assumenda obcaecati maxime?
    </span>
  </div>
  <p class="likes comments">View all 120 commnets</p>

  <div class="comment-input">
    <img
      src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt=""
    />
    <input type="text" class="comment-box" placeholder="Add a comment" />
    <button class="btn" type="button">Comment</button>
  </div>
</div>
