<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">S</button>
    <div class="logo-text" *ngIf="collapsed">Sharelink</div>
    <button class="butn-close times" (click)="closeSidenav()" *ngIf="collapsed">
      <i class="fas fa-xmark"></i>
    </button>
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="data.routelink ? [data.routelink] : []"
        [routerLinkActive]="data.routelink ? 'active' : ''"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="openPopup(data.label)"
      >
        <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{
          data.label
        }}</span>
      </a>
    </li>
  </ul>

  <hr />

  <button class="logout" (click)="logoutClick()">
    <i class="fas fa-power-off"></i>
    <span *ngIf="collapsed">Log Out</span>
  </button>
</div>
