<div id="landing-right-content">
  <h1>LogIn</h1>
  <form action="" [formGroup]="signinForm" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="@takashi"
        formControlName="username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password@123"
        formControlName="password"
      />
    </div>
    <button class="btn btn-primary" type="submit">LogIn</button>
  </form>
  <small
    ><a routerLink="../signup" routerLinkActive="active">Register </a> for new
    user</small
  >
</div>
