#landing-right-content {
  padding: 4em;
  /* border: 1px solid #fff; */
  border-radius: 16px;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.09);
  backdrop-filter: blur(1px);
}

#login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

form {
  margin-bottom: 6px;
}

form button {
  width: 50%;
}

small {
  text-align: center;
}

small a {
  text-decoration: none;
}

/* .form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%;
} */
